body {
    background: url('images/background.jpg') fixed center;
    max-width: 80%;
    margin-left: 150px;
}

* {
    color: rgb(255, 255, 255);
}

/*Color green for the rigth answers
and red for the wrong*/

.green{
    color:rgb(87, 177, 87);
    font-size: large;
}

.red{
    color:rgb(241, 48, 48);
    font-size: large;
}

.bold{
    font-weight:bolder;
    text-align: center;
    -webkit-text-stroke: 0.5px black;
    width: 180px;
}

.hidden {
    display: none;
}

h1 {
     color: white;
    /* -webkit-text-stroke: 1px rgb(204, 5, 5);  */
    text-align: center;
    text-decoration: underline;
}

hr {
    color: teal;
}

#message, #result {
    background: rgba(36, 34, 34, 0.8);
    color: rgb(248, 242, 241);
    display: inline;
    margin-left: 20px;
    font-weight: bold;
}

#forms {
    background-color: rgba(19, 20, 20, 0.5);
    padding: 50px;
    border-radius: 5%;
}

.question {
    font-size: 25px;
    font-weight: bold;
    color:rgb(247, 246, 245);
}


/* button1 hover */
#btn1 {
    margin-top: 200px;
    margin-left: 230px;
    font-size: 50px;
    width: 500px;
    border: none;
    outline: none;
    color: #fff;
    background: rgb(10, 10, 10);
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

#btn1:before {
    content: '';
    background: linear-gradient(45deg, #f51a0a, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

#btn1:active {
    color: rgb(0, 0, 0)
}

#btn1:active:after {
    background: transparent;
}

#btn1:hover:before {
    opacity: 1;
}

#btn1:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(22, 22, 22, 0.85);
    left: 0;
    top: 0;
    border-radius: 10px;
}



@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
/* jusqu'ici */